{% extends 'base.html.twig' %}

{% block title %}Infos Clients{% endblock %}

{% block body %}
    <h1>Details du Client : {{ client.nom }} - {{ client.prenom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Numero CNI</th>
                <td>{{ client.cni }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ client.salaire }}</td>
            </tr>
             <tr>
                <th>Profession</th>
                <td>{{ client.profession }}</td>
            </tr>
            <tr>
                <th>infos_employeur</th>
                <td>{{ client.infos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('CPlist') }}" class="btn btn-primary">Retour</a>

{% endblock %}
